.hover-img{
    transition: transform 0.3s ease;
}

.hover-img:hover{
    transform: scale(1.1);
}

.hero-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    height: 500px;
    background-color: aliceblue;
    padding-top: 80px;
}

.hero-text{
    width: 50%;
}

.hero-text h2{
    font-size: 35px;
    font-weight: bold;
}

@media screen and (max-width: 1010px) {
    .hero-img img{
        width: 350px;
        height: 300px;
    }
    .hero-sec{
        height: auto;
    }
}

@media screen and (max-width: 800px){
    .hero-sec{
        flex-direction: column;
        gap: 50px;
    }

    .hero-text{
    width: 100%;
}
}

/* Hero Section End */

/* Contact Section  */